/* .margin{
    margin-top: 161px;
} */

img.imgheight{
    min-height: 240px;
    max-height: 240px;
}
.containerx {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imgheight:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
  }